</div><!-- end of row -->
</div><!-- end of container -->
<div class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <div class="copyrights">
                        <span>Coded by </span>  <span style="color:#03cea4">Yasmine Hikal </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="templates/assets/js/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="templates/assets/js/bootstrap.min.js"></script>
</body>
</html>