<div class="col-md-12">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header">
                    <h1>Our Products</h1>
                </div>
            </div>
            <?php foreach($products as $product){
                $id     = $product['id'];
                $title  = $product['title'];
                $description = $product['description'];
                $image = $product['image'];
                $price = $product['price'];
           ?>

            <div class="col-md-4">
                <div class="product-box text-center">
                    <div class="product-box__image">
                        <a href="product.php?id=<?php echo $id; ?>">
                            <img src="uploads/<?php echo $image; ?>" class="img-responsive" alt="Product Image">
                            <span><i class="fa fa-star"></i> Product Info</span>
                        </a>
                    </div>
                    <div class="product-box__title">
                        <h2><?php echo $title; ?></h2>
                    </div>
                    <div class="product-box__desc">
                        <p><?php echo $description; ?>.</p>
                    </div>
                    <div class="product-box__price">
                        <span><?php echo $price; ?><sup>EGP</sup></span>
                    </div>
                    <a href="product.php?id=<?php echo $id; ?>" class="btn btn-lg btn-success"><i class="fa fa-shopping-cart"></i> Buy Now</a>
                </div>
            </div>

            <?php } ?>

        </div>
    </div>
</div>
